mixin nav(className, items, activeItem)
    ul(class=`${className}`)
        each item, key in items
            li(class=`${className}__item`)
                a(class=`${className}__link` href=`${item}`)= key

mixin nav-footer(className, items, activeItem)
    ul(class=`${className}__list`).fl-item
        each item, key in items
            li(class="fl-item__item").fl-link
                a(class="fl-link__link" href=`${item}`)= key


mixin circles(groupsName)
    ul.skills-items__list.skill-info
        if groupsName === 'Frontend'
            each vars in one.Circles.Frontend
                li.skill-info__item.skill-inner
                    .skill-inner__content.skill-core
                        svg.skill-core__circle.circle-svg
                            circle.circle-svg__circle-under(cx="60" cy="60" r="50")
                            circle.circle-svg__circle-above(cx="60" cy="60" r="50" style={opacity: vars.counts/100} stroke-dasharray= vars.counts*3.16  + ' 316')
                        .skill-core__title= vars.name
        else if groupsName === 'Backend'
            each vars in one.Circles.Backend
                li.skill-info__item.skill-inner
                    .skill-inner__content.skill-core
                        svg.skill-core__circle.circle-svg
                            circle.circle-svg__circle-under(cx="60" cy="60" r="50")
                            circle.circle-svg__circle-above(cx="60" cy="60" r="50" style={opacity: vars.counts / 100} stroke-dasharray= vars.counts * 3.16 + ' 316')
                        .skill-core__title= vars.name
        else if groupsName === 'WorkFlow'
            each vars in one.Circles.WorkFlow
                li.skill-info__item.skill-inner
                    .skill-inner__content.skill-core
                        svg.skill-core__circle.circle-svg
                            circle.circle-svg__circle-under(cx="60" cy="60" r="50")
                            circle.circle-svg__circle-above(cx="60" cy="60" r="50" style={opacity: vars.counts / 100} stroke-dasharray= vars.counts * 3.16 + ' 316')
                        .skill-core__title= vars.name
        else
            each vars in one.Circles.None
                li.skill-info__item.skill-inner
                    .skill-inner__content.skill-core
                        svg.skill-core__circle.circle-svg
                            circle.circle-svg__circle-under(cx="60" cy="60" r="50")
                            circle.circle-svg__circle-above(cx="60" cy="60" r="50" style={opacity: vars.counts / 100} stroke-dasharray= vars.counts * 3.16 + ' 316')
                        .skill-core__title= vars.name

